# Ignore everything but the Mod and Maps files
*

!.gitignore
!README.md
!LICENSE

!Mods/
!Mods/NeuroIntegration.SC2Mod
!Mods/NeuroIntegration.SC2Mod/*
!Mods/NeuroIntegration.SC2Mod/*/*
!Mods/NeuroIntegration.SC2Mod/*/*/*

!Maps
!Maps/Campaign
!Maps/Campaign/*.SC2Map
!Maps/Campaign/*.SC2Map/*
!Maps/Campaign/*.SC2Map/*/*
!Maps/Campaign/*.SC2Map/*/*/*
